<%= turbo_frame_tag "image", src: new_images_path do %>
  <div class="h-64 flex items-center justify-center">
    <p class="animate-pulse">
      Achieving singularity... (<%= new_images_path %>)
    </p>
  </div>
<% end %>
