  <%= turbo_frame_tag "image", src: new_images_path do %>
    <div class="flex flex-col justify-center gap">
      <p class="text-lg">
        Achieving singularity...
      </p>
      <div class="loader"></div>
    </div>
  <% end %>
