  <div class="flex flex-col items-center text-center">
    <img class='' style="max-width: 200px;" src="https://res.cloudinary.com/dbiyjyi0a/image/upload/v1681841649/prompt-guesser/promt-guesser-logo.svg" alt="PromptGuesser logo">
    <h1 class='mb-5 text-4xl font-bold'>PromptGuesser</h1>
    <p class='mb-5'>An AI-powered game where you attempt to guess the prompt that was used to generate the image.
      <br>
      No two rounds will ever be the same! If only the name was that unique..
    </p>
    <%= link_to 'Play Now', '/game', class: 'btn btn--primary' %>
  </div>
