<img class='mx-auto mb-5 w-48 h-48' src="https://res.cloudinary.com/dbiyjyi0a/image/upload/v1681841649/prompt-guesser/promt-guesser-logo.svg" alt="PromptGuesser logo">
<h1 class='mb-5 text-4xl font-bold'>PromptGuesser</h1>
<p class='mb-5'>An AI-powered game where you attempt to guess the prompt that was used to generate the image.
  <br>
  No two rounds will ever be the same!
</p>
<%= link_to 'Play Now', '/game', class: 'btn btn-primary' %>
