<%= form_with model: @guess, class: "flex flex-col gap"  do |form| %>
  <%= form.text_area :text, rows: 2, required: true, class: "input", placeholder: 'Guess the prompt used to generate the image.' %>
  <%= form.submit 'Submit guess', class: 'btn btn--primary btn--amorphous m-auto' %>
  <p><%= notice %></p>
<% end %>
