<%= form_with model: @guess, class: "flex flex-col gap"  do |form| %>
  <%= form.text_area :text, size: "60x10", class: "input", placeholder: 'Guess the prompt used to generate the image.' %>
  <%= form.submit 'Submit Guess', class: 'btn btn--primary' %>
  <p><%= notice %></p>
<% end %>
