<p>Match score:</p>
<div class="bg-slate-200 h-16 rounded">
  <div class="flex items-center px-2 bg-emerald-400 h-16 rounded-l" style="width:<%= score %>%">
    <span class='absolute left-0 right-0 mx-auto w-full'><%= score %>%</span>
  </div>
</div>
