<p class="font-bold mb-1">Match score:</p>
<div class="relative score-bar">
  <div class="score-bar__value-bar" style="width: <%= score %>%;">
    <span class="score-bar__value"><%= score %>%</span>
  </div>
</div>
