<%= turbo_frame_tag "guess" do %>
  <div class="grid items-center gap-4 w-64">
    <%= render 'match_bar', score: @score %>
    <a href="/game" class='btn btn-secondary' data-turbo-frame="_top">Play Again</a>
    <div class="text-left grid gap-4">
      <p>
        <span class="font-bold block">Your guess: </span>
        <%= @guess.text %>
      </p>
      <p><span class="font-bold block">The prompt: </span> <%= $prompt %></p>
    </div>
  </div>
<% end %>
