<%= turbo_frame_tag "guess" do %>
  <div class="score">
    <%= render 'match_bar', score: @score %>
    <a href="/game" class='btn btn--primary btn--amorphous m-auto' data-turbo-frame="_top">Play again</a>
    <div class="score__details">
      <p>
        <span class="font-bold block">Your guess: </span>
        <%= @guess.text %>
      </p>
      <p><span class="font-bold block">The prompt: </span> <%= $prompt %></p>
    </div>
  </div>
<% end %>
