@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/
textarea {
  @apply block resize-none w-full border-gray-300 rounded-md shadow-sm focus:border-emerald-300 focus:ring focus:ring-emerald-200 focus:ring-opacity-50;
}

img {
  @apply rounded;
}

html {
  @apply text-gray-700;
}

/* Buttons */
.btn {
	@apply font-bold py-2 px-4 rounded;
}

.btn-primary {
  @apply bg-emerald-400;
}

.btn-primary:hover {
  @apply bg-emerald-500;
}

.btn-primary:active {
  @apply bg-emerald-600;
}

.btn-secondary {
  @apply bg-transparent border border-emerald-400 text-emerald-400;
}

.btn-secondary:hover {
  @apply bg-emerald-500 border-emerald-500 text-white;
}

.btn-secondary:active {
  @apply bg-emerald-600 border-emerald-600 text-white;
}

/* Links */
.link {
  @apply text-emerald-400; 
}

.link:hover {
  @apply text-emerald-500; 
}

.link:active {
  @apply text-emerald-600; 
}

/* Layout */
html, body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

footer {
  margin: auto auto 0;
  padding: 20px;
}
